.centered_panel {
    // position: fixed !important; /* Фиксируем на экране */
    position: absolute;
    // left: 37.5%; /* Горизонтальный центр */
    transform: translate(-50%, -50%); /* Сдвиг для точного центрирования */
    z-index: 20; /* Панель поверх других элементов */
    width: 50%; /* Ширина временно уменьшена */
    max-width: 500px; /* Ограничиваем максимальную ширину для удобства */
    background: white; /* Фон панели */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Тень для визуального отделения */
    border-radius: 8px; /* Закруглённые углы */
    padding: 20px; /* Внутренние отступы */
  }