@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}


.loader{
  opacity: 0;
  animation: fade 0.4s ease-in forwards;
}

@keyframes fade {
  0%{
    opacity: 0.4;
  }

  50%{
    opacity: 0.8;
  }
  100%{
    opacity: 1;
  }
}

.hide-scroll-bar{
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scroll-bar::-webkit-scrollbar {
  display: none;
}
